<md-content class="padded-content-page">
    <h2>Lihat Alur Proses</h2>

    <div layout="row" layout-align="end center">
        <md-button class="md-raised" ng-click="vm.cancelAction()">Batal</md-button>
    </div>

    <input type="hidden" ng-model="vm.desa.id">
    <md-input-container md-no-float class="md-block">
        <label>Nama Alur Proses</label>
        <input type="text" placeholder="Nama Alur Proses" ng-required="true" ng-model="vm.alur_proses.keterangan" ng-disabled="true">
    </md-input-container>

    <!-- BEGIN - Tabs -->
    <md-tabs class="md-primary" md-selected="selectedTabIndex" md-dynamic-height md-border-bottom md-stretch-tabs="always">
        <md-tab label="Jenis Proses">
            <md-content class="md-padding">
                <md-list class="no-scroll">
                    <md-list-item layout="row" layout-align="space-around center" ng-repeat="(index, proses) in vm.alur_proses.daftar_proses">
                        <input type="hidden" value="{{proses.id}}" ng-model="proses.id">
                        <md-input-container flex>
                            <input type="text" placeholder="No" ng-required="true" ng-model="proses.no" ng-disabled="true">
                        </md-input-container>
                        <md-input-container flex>
                            <input type="text" placeholder="Nama Proses" ng-required="true" ng-model="proses.nama_proses" ng-disabled="true">
                        </md-input-container>
                        <md-input-container flex>
                            <input type="text" placeholder="Tautan" ng-required="false" ng-model="proses.tautan" ng-disabled="true">
                        </md-input-container>
                        <md-input-container flex>
                            <input type="text" placeholder="Form" ng-required="false" ng-model="proses.form.nama_form"  ng-disabled="true">
                        </md-input-container>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-tab>
    </md-tabs>
    <!-- END - Tabs -->

    <div layout="row" layout-align="end center">
        <md-button class="md-raised" ng-click="vm.cancelAction()">Batal</md-button>
    </div>
</md-content>
