<md-content class="padded-content-page">
    <h2 translate>TEMPLATE-FORM.PREVIEW</h2>

    <form name="dForm">
        <div layout="row" layout-align="end center">
            <md-button class="md-raised" ng-click="vm.cancelAction()">Batal</md-button>
        </div>

        <div layout="row" layout-align="center center">
            <h2 class="md-display-3">{{nama_form}}</h2>

            <!-- Action Button Area -->
            <span ng-repeat="(formIndex, form) in forms | filter:{ftype:'action', tabIdx: -1, del: false}">
                <span ng-include="'app/form-module/canvas.html'"></span>
            </span>
        </div>

        <div ng-repeat="form in forms | filter : {tabIdx:'0', del: false} | orderBy:'no_urut':false"">
            <div ng-include="'app/form-module/canvas.html'"></div>
        </div>

        <md-card flex="100" class="card-element" ng-repeat="tabDisplay in forms | filter:{ftype:'tab'} | orderBy:'tabIdx':false | orderBy:'no_urut':false">
            <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always"
                     ng-if="tabDisplay.ftype === 'tab'">
                <md-tab ng-repeat="tab in tabDisplay.ftab" label="{{tab.label}}">
                    <md-content class="md-padding" ng-if="form.ftype !== 'tab' && form.tabIdx === tab.idx"
                                ng-repeat="form in forms | filter: {del: false} | orderBy:'no_urut':false">
                        <div ng-include="'app/form-module/canvas.html'"></div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-card>

        <div class="button-toolbar" layout="row" layout-align="end center">
            <md-button class="md-raised" ng-click="vm.cancelAction()">Batal</md-button>
        </div>
    </form>
</md-content>
