<md-content class="padded-content-page">
    <div layout="row" layout-align="center center">
        <h2 class="md-display-3" translate>Tarif Izin</h2>
    </div>

    <div>
        <div layout="row" layout-align="end center">
            <md-button class="md-primary md-raised" ng-disabled="mainForm.$invalid" ng-click="vm.saveAction()">Simpan</md-button>
            <md-button class="md-raised" ng-click="vm.cancelAction()">Batal</md-button>
        </div>

        <md-input-container md-no-float class="md-block">
            <label>Jenis Izin</label>
            <input type="text" placeholder="Nama Jenis Izin" ng-disabled="true" ng-model="vm.jenis_izin.jenis_izin">
        </md-input-container>

        <md-input-container md-no-float class="md-block">
            <label>Formula</label>
            <text-angular name="formula" data-ng-model="vm.jenis_izin.formula_retribusi.formula" md-maxlength="10000" ng-required="true" ta-target-toolbars="editor-toolbar">
            </text-angular>
            <div ng-messages="mainForm.formula_retribusi.$error">
                <div ng-messages-include="app/include/validation-messages.html"></div>
            </div>
        </md-input-container>

        <md-data-table-toolbar ng-hide="vm.filter.show">
            <h2 class="md-title">Daftar Item Tarif</h2>
            <div flex></div>
            <md-button class="md-icon-button" ng-click="vm.filter.show = true">
                <!-- <i class="material-icons md-dark">filter_list</i> -->
                <md-icon md-font-icon="zmdi zmdi-filter-list"></md-icon>
            </md-button>
        </md-data-table-toolbar>

        <md-data-table-toolbar ng-show="vm.filter.show" class="md-data-table-toolbar">
            <md-icon md-font-icon="zmdi zmdi-search"></md-icon>
            <form flex="" name="vm.filter.form">
                <input type="text" ng-model="vm.query.filter" ng-model-options="vm.filter.options" placeholder="search">
            </form>
            <md-button class="md-icon-button" ng-click="vm.removeFilter()">
                <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
            </md-button>
        </md-data-table-toolbar>

        <md-data-table-container>
            <table md-data-table class="md-primary md-data-table" md-progress="vm.deferred">
                <thead md-order="vm.query.order" md-trigger="vm.getData">
                    <tr>
                        <th order-by="no" name="#"></th>
                        <th name="Nama Item"></th>
                        <th name="Satuan"></th>
                        <th name=""></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in vm.data.items">
                        <td>{{item.no}}</td>
                        <td>{{item.nama_item}}</td>
                        <td>{{item.satuan}}</td>
                        <td>
                            <button class="btn btn-success btn-circle" type="button" ng-click="vm.showFormEdit(item.id)">
                                <i class="fa fa-pencil"></i>
                            </button>
                            <button class="btn btn-info btn-circle" type="button" ng-click="vm.showFormView(item.id)">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button class="btn btn-danger btn-circle" type="button" ng-click="vm.confirmDelete(item.id)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-data-table-container>

        <div layout="row">
            <md-button class="md-raised md-accent md-hue-1 full-button" ng-click="vm.showFormAdd()" aria-label="raised button">
                <md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
            </md-button>
        </div>

        <md-data-table-pagination md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.data.total_items}}" md-trigger="vm.getData"></md-data-table-pagination>
    </div>
</md-content>