<md-content class="padded-content-page">
    <h2 translate>PERAN.EDIT</h2>

    <form name="mainForm" novalidate>
        <div layout="row" layout-align="end center">
            <md-button class="md-primary md-raised" ng-disabled="mainForm.$invalid" ng-click="vm.updateAction()">Perbarui</md-button>
            <md-button class="md-raised" ng-click="vm.cancelAction()">Batal</md-button>
        </div>

        <md-input-container md-no-float class="md-block">
            <label>Peran</label>
            <input type="text" name="label_peran" placeholder="Label Peran" ng-required="true" ng-model="vm.peran.label_peran" md-maxlength="100">
            <div ng-messages="mainForm.label_peran.$error">
                <div ng-messages-include="app/include/validation-messages.html"></div>
            </div>
        </md-input-container>

        <md-input-container md-no-float class="md-block">
            <label>Path Home</label>
            <input type="text" name="home_path" placeholder="contoh: home" ng-required="true" ng-model="vm.peran.home_path" md-maxlength="100">
            <div ng-messages="mainForm.home_path.$error">
                <div ng-messages-include="app/include/validation-messages.html"></div>
            </div>
        </md-input-container>

        <md-input-container md-no-float class="md-block">
            <label>Instansi</label>
            <md-autocomplete class="margin-bottom-20" ng-disabled="vm.isDisabled" md-no-cache="vm.noCache" md-selected-item="selectedItem" md-search-text="vm.searchText" md-selected-item-change="vm.selectedItemChange(item)" md-items="item in vm.querySearch(vm.searchText)"
                md-item-text="item.nama" md-item-value="item.id" md-min-length="0" placeholder="Cari Instansi">
                <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.nama}}</span>
            </md-autocomplete>
        </md-input-container>

        <div>
            <div class="tree-view" ivh-treeview="vm.treeData" ivh-treeview-expand-to-depth="2">
                <script type="text/ng-template">
                    <span ivh-treeview-toggle>
                      <span ivh-treeview-twistie></span>
                    </span>
                    <ascii-box></ascii-box>
                    <span class="ivh-treeview-node-label" ivh-treeview-toggle>
                      {{trvw.label(node)}}
                    </span>
                    <div ivh-treeview-children></div>
                </script>
            </div>
        </div>

        <div layout="row" layout-align="end center">
            <md-button class="md-primary md-raised" ng-disabled="mainForm.$invalid" ng-click="vm.updateAction()">Perbarui</md-button>
            <md-button class="md-raised" ng-click="vm.cancelAction()">Batal</md-button>
        </div>
    </form>
</md-content>