<md-content class="padded-content-page">
    <div layout="row" layout-align="center center">
        <h2 class="md-display-3" translate>PROSES-PENGAJUAN.TITLE</h2>
    </div>

    <div>
        <md-data-table-toolbar class="md-data-table-toolbar">
            <md-icon md-font-icon="zmdi zmdi-search"></md-icon>
            <form flex="" name="vm.filter.form">
                <input id="filter-text" type="text" ng-model="vm.query.filter" ng-model-options="vm.filter.options" placeholder="Cari Proses Pengajuan">
            </form>
        </md-data-table-toolbar>

        <md-data-table-container>
            <table md-data-table class="md-primary md-data-table" md-progress="vm.deferred">
                <thead md-order="vm.query.order" md-trigger="vm.getData">
                    <tr>
                        <th order-by="permohonanizin.id" name="#"></th>
                        <th order-by="permohonanizin.no_permohonan" name="No Permohonan"></th>
                        <th order-by="permohonanizin.nib_id" name="NIB ID"></th>
                        <th order-by="permohonanizin.tgl_pengajuan" name="Tgl Permohonan"></th>
                        <th order-by="jenisizin.jenis_izin" name="Jenis Izin"></th>
                        <th order-by="pemohon.nama" name="Pemohon"></th>
                        <th order-by="perusahaan.nama_perusahaan" name="Perusahaan"></th>
                        <th order-by="latestprosespermohonan.nama_proses" name="Proses"></th>
                        <th order-by="permohonanizin.tgl_selesai" name="Tgl Ditetap"></th>
                        <th name=""></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in vm.data.items">
                        <td>{{item.no}}</td>
                        <td>{{item.no_permohonan}}</td>
                        <td>{{item.nib_id}}</td>
                        <td>{{item.tgl_pengajuan}}</td>
                        <td>{{item.jenis_izin.jenis_izin}}</td>
                        <td>{{item.pemohon.nama}}</td>
                        <td>{{item.perusahaan.nama_perusahaan}}</td>
                        <td>{{item.latest_proses_permohonan.nama_proses}}</td>
                        <td>{{item.tgl_selesai}}</td>
                        <td>
                            <button ng-if="item.is_active" class="btn btn-success btn-circle" type="button" ng-click="vm.showProcess(item.id)">
                                <i class="fa fa-list"></i>
                            </button>
                           <!--  <button ng-if="item.is_active" class="btn btn-success btn-circle" type="button" ng-click="vm.showProcess(item.id)">
                                <i class="fa fa-tasks"></i>
                            </button> -->
                            <button class="btn btn-info btn-circle" type="button" ng-click="vm.showFormView(item.id)">
                                <i class="fa fa-eye"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-data-table-container>

        <md-data-table-pagination md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.data.total_items}}" md-trigger="vm.getData"></md-data-table-pagination>
    </div>
</md-content>
