<md-content class="padded-content-page">
    <div layout="row" layout-align="center center">
        <h2 class="md-display-3" translate>Menu</h2>
        <md-button class="md-fab md-primary md-fab-top-right" ng-click="vm.showFormAdd()" aria-label="bottom right toast">
            <md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
            <md-tooltip>Add</md-tooltip>
        </md-button>
    </div>
    <div>
        <input type="text" ng-model="vm.treeSearch" />
        <div class="tree-view" ivh-treeview="vm.treeData"
             ivh-treeview-expand-to-depth="2"
             ivh-treeview-filter="vm.treeSearch">
            <script type="text/ng-template">
                <div class="tree-view-row">
                    <div ivh-treeview-toggle class="node-toggle">
                        <span ivh-treeview-twistie></span>
                    </div>
                    <div class="node-row" ivh-treeview-toggle>
                        <div class="node-label">
                            {{trvw.label(node)}}
                        </div>
                        <div class="node-actions">
                            <menu-tree-actions item-id="node.value"></menu-tree-actions>
                        </div>
                        </span>
                    </div>
                    <div ivh-treeview-children></div>
            </script>
        </div>
    </div>

</md-content>
