<md-content class="padded-content-page">
    <h2>Ubah Menu</h2>

    <form name="mainForm" novalidate>
        <div layout="row" layout-align="end center">
            <md-button class="md-primary md-raised" ng-disabled="mainForm.$invalid" ng-click="vm.updateAction()">Perbarui</md-button>
            <md-button class="md-warn" ng-click="vm.deleteAction()">Delete</md-button>
            <md-button class="md-raised" ng-click="vm.cancelAction()">Batal</md-button>
        </div>

        <md-input-container md-no-float class="md-block">
            <label>Label Menu</label>
            <input type="text" name="label_menu" placeholder="Label Menu" ng-required="true" ng-model="vm.menu.label_menu" md-maxlength="100">
            <div ng-messages="mainForm.label_menu.$error">
                <div ng-messages-include="app/include/validation-messages.html"></div>
            </div>
        </md-input-container>

        <md-input-container md-no-float class="md-block" style="padding-left: 0px !important">
            <label style="left: 0px">Icon</label>
            <input type="text" name="icon" placeholder="Icon" ng-required="false" ng-model="vm.menu.icon" md-maxlength="50">
            <md-button ng-click="vm.showIconList()" class="btn btn-danger no-minwidth">
                <md-icon class="material-icons zmdi zmdi-help"></md-icon>
            </md-button>
            <div ng-messages="mainForm.icon.$error">
                <div ng-messages-include="app/include/validation-messages.html"></div>
            </div>
        </md-input-container>

        <md-input-container md-no-float class="md-block">
            <label>Tautan</label>
            <input type="text" name="tautan" placeholder="Tautan" ng-required="true" ng-model="vm.menu.tautan" md-maxlength="500">
            <div ng-messages="mainForm.tautan.$error">
                <div ng-messages-include="app/include/validation-messages.html"></div>
            </div>
        </md-input-container>

        <md-input-container md-no-float class="md-block">
            <label>Parent Menu</label>
            <md-autocomplete class="margin-bottom-20" ng-disabled="vm.isDisabled" md-no-cache="vm.noCache" md-selected-item="selectedItem" md-search-text="vm.searchText" md-selected-item-change="vm.selectedItemChange(item)" md-items="item in vm.querySearch(vm.searchText)"
                md-item-text="item.label_menu" md-item-value="item.id" md-min-length="0" placeholder="Parent Menu">
                <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.label_menu}}</span>
            </md-autocomplete>
        </md-input-container>

        <md-input-container md-no-float class="md-block">
            <label>No Urut</label>
            <input type="number" name="no_urut" placeholder="No Urut" ng-required="true" ng-model="vm.menu.no_urut">
            <div ng-messages="mainForm.no_urut.$error">
                <div ng-messages-include="app/include/validation-messages.html"></div>
            </div>
        </md-input-container>

        <!-- BEGIN - Tabs -->
        <md-tabs class="md-primary" md-selected="selectedTabIndex" md-dynamic-height md-border-bottom md-stretch-tabs="always">
            <md-tab label="Module">
                <md-content class="md-padding">
                    <md-list class="no-scroll">
                        <md-list-item layout="row" layout-align="space-around center" ng-repeat="(index, detail) in vm.menu.menu_module">
                            <md-input-container flex>
                                <input type="text" name="tautan" placeholder="Tautan" ng-required="true" ng-model="detail.tautan" md-maxlength="500">
                            </md-input-container>
                            <md-input-container>
                                <button class="btn btn-success btn-circle" type="button"
                                        ng-click="vm.removeDetail(index)">
                                    <md-icon md-font-icon="fa fa-trash"></md-icon>
                                </button>
                            </md-input-container>
                        </md-list-item>
                        <md-list-item layout="row" layout-align="space-around center">
                            <md-button class="md-raised md-accent md-hue-1 full-button" ng-click="vm.addNewDetail()" aria-label="raised button">
                                <md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
                            </md-button>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-tab>
        </md-tabs>
        <!-- END - Tabs -->

        <div layout="row" layout-align="end center">
            <md-button class="md-primary md-raised" ng-disabled="mainForm.$invalid" ng-click="vm.updateAction()">Perbarui</md-button>
            <md-button class="md-warn" ng-click="vm.deleteAction()">Delete</md-button>
            <md-button class="md-raised" ng-click="vm.cancelAction()">Batal</md-button>
        </div>
    </form>
</md-content>