<!-- Action Canvas -->
<div ng-if="form.ftype == 'action'" layout="row" layout-align="end center" class="action-canvas flex-100">
    <div ng-repeat="(fieldIndex, field) in form.fields" layout="row" layout-align="middle end" flex>
        <div ng-repeat="(dataIndex, data) in field.field | filter:{type:'button-action'}" layout="column" flex>
            <div layout="column" layout-align="center" flex ng-include="'app/form-module/element.html'"></div>
        </div>
    </div>
</div>
<!-- .Action Canvas -->


<!-- Form -->
<md-card flex="100" class="card-element" ng-if="form.ftype=='form'">
    <md-card-content>
        <h2 class="canvas-title">{{form.fName}}</h2>

        <!-- If form has photo element -->
        <div ng-repeat="(fieldIndex, field) in form.fields" ng-if="form.has_photo" layout="row" flex>
            <div layout="column" flex="20">
                <div ng-repeat="(dataIndex, data) in field.field | filter:{type:'photo'}">
                    <span ng-include="'app/form-module/element.html'"></span>
                </div>
            </div>

            <div layout="column" flex="80" ng-if="!form.has_splitted_section">
                <div ng-repeat="(dataIndex, data) in field.field | filter:{type:'!button-action'} | orderBy:'no_urut':false"
                     ng-if="data.type !== 'photo'">
                    <span ng-include="'app/form-module/element.html'"></span>
                </div>
            </div>

            <div layout="column" flex ng-if="form.has_splitted_section" style="padding-right:4px;">
                <div ng-repeat="(dataIndex, data) in field.field | filter:{type:'!button-action'} | orderBy:'no_urut':false"
                     ng-if="data.type !== 'photo' && data.no_urut % 2 === 1">
                    <span ng-include="'app/form-module/element.html'"></span>
                </div>
            </div>

            <div layout="column" flex ng-if="form.has_splitted_section">
                <div ng-repeat="(dataIndex, data) in field.field | filter:{type:'!button-action'} | orderBy:'no_urut':false"
                     ng-if="data.type !== 'photo' && data.no_urut % 2 === 0">
                    <span ng-include="'app/form-module/element.html'"></span>
                </div>
            </div>
        </div>

        <!-- If form don't have photo element -->
        <div ng-repeat="(fieldIndex, field) in form.fields" ng-if="!form.has_photo" layout="row" layout-xs="column"
             flex>
            <div layout="column" flex="100" ng-if="!form.has_splitted_section">
                <div ng-repeat="(dataIndex, data) in field.field | filter:{type:'!button-action'} | orderBy:'no_urut':false"
                     ng-if="data.type !== 'photo'">
                    <span ng-include="'app/form-module/element.html'"></span>
                </div>
            </div>

            <div layout="column" flex ng-if="form.has_splitted_section" style="padding-right:4px;">
                <div ng-repeat="(dataIndex, data) in field.field | filter:{type:'!button-action'} | orderBy:'no_urut':false"
                     ng-if="data.type !== 'photo' && data.no_urut % 2 === 1">
                    <span ng-include="'app/form-module/element.html'"></span>
                </div>
            </div>

            <div layout="column" flex ng-if="form.has_splitted_section">
                <div ng-repeat="(dataIndex, data) in field.field | filter:{type:'!button-action'} | orderBy:'no_urut':false"
                     ng-if="data.type !== 'photo' && data.no_urut % 2 === 0">
                    <span ng-include="'app/form-module/element.html'"></span>
                </div>
            </div>
        </div>
    </md-card-content>
</md-card>
<!-- .Form -->


<!-- Tabel -->
<md-card flex="100" class="card-element" ng-if="form.ftype=='tabel'">
    <md-card-content>
        <h2 class="canvas-title">{{form.fName}}</h2>

        <table class="dynamic-form-table">
            <thead ng-if="index==0" ng-repeat="(index, field) in form.fields | orderBy:'no_urut':false">
            <th ng-repeat="header in field.field | filter:{type:'!button-action'}" style="padding-right:5px;">
                {{header.label}}
            </th>
            <th class="action" ng-hide="(data.disabled && limitAccess) || isReadOnly">Action</th>
            </thead>
            <tbody>
            <tr ng-repeat="record in form.fields | filter:{del:false} | orderBy:'no_urut':false">
                <td ng-repeat="data in record.field | filter:{type:'!button-action'}" ng-init="data_val = data.data"
                    style="padding-right:5px;">
                    <div ng-include="'app/form-module/element_table.html'"></div>
                </td>
                <td class="action" ng-hide="(data.disabled && limitAccess) || isReadOnly" style="width:10px">
                    <button ng-click="deleteData(record)" class="btn btn-danger btn-circle no-minwidth" type="button">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <md-button ng-click="addData(form.fields,form.ftype)" class="md-primary md-hue-2 md-raised" ng-hide="(data.disabled && limitAccess) || isReadOnly">
            Tambah Data
        </md-button>
    </md-card-content>
</md-card>
<!-- .Tabel -->


<!-- Tabel Grid -->
<div ng-if="form.ftype=='tabel-grid'">
    <!--<md-data-table-toolbar class="md-data-table-toolbar">
        <md-icon md-font-icon="zmdi zmdi-search"></md-icon>
        <form flex="" name="vm.filter.form">
            <input id="filter-text" type="text" ng-model="vm.query.filter" ng-model-options="vm.filter.options" placeholder="Cari">
        </form>
    </md-data-table-toolbar>-->

    <md-data-table-container>
        <table md-data-table class="md-primary md-data-table dynamic-form-table" md-progress="vm.deferred">
            <thead md-order="vm.query.order" md-trigger="vm.getData">
            <tr ng-if="index==0" ng-repeat="(index, field) in form.fields">
                <th name="No" ng-hide="!showGridNo" style="padding-right:5px;"></th>
                <th name="{{header.label}}" ng-repeat="header in field.field | filter:{type:'!button-set'}"
                    style="padding-right:5px;"></th>
                <th name="Aksi" ng-if="form.has_button_set"></th>
            </tr>
            </thead>

            <tbody ng-repeat="(recordIndex, record) in vm.gridData.items">
            <tr ng-repeat="(fieldIndex, field) in form.fields">
                <td ng-hide="!showGridNo" style="padding-right:5px;">{{record.no}}</td>
                <td ng-repeat="data in field.field | filter:{type:'!button-set'}" style="padding-right:5px;">
                    <span ng-if="data.type !== 'hyperlink'">{{record[data.data_kolom]}}</span>
                    <span ng-if="data.type === 'hyperlink'" ng-init="data_val = record[data.data_kolom]">
                            <div ng-include="'app/form-module/element_table.html'"></div>
                        </span>
                </td>
                <td ng-if="form.has_button_set" style="padding-right:5px;">
                        <span ng-repeat="field in field.field | filter:{type:'button-set'}">
                            <!-- If Button set element -->
                            <button ng-hide="formId == 3027" class="btn btn-success btn-circle" type="button"
                                    ng-click="clickButton(formId, form.datatabel, record.id, field.tombol_tautan, field.tombol_aksi)">
                                <i class="fa fa-pencil" ng-if="field.tombol_aksi == 'edit'"></i>
                                <i class="fa fa-eye" ng-if="field.tombol_aksi == 'view'"></i>
                                <i class="fa fa-file-word-o" ng-if="field.tombol_aksi == 'report'"></i>
                                <i class="fa fa-trash" ng-if="field.tombol_aksi == 'delete'"></i>
                            </button>
                        </span>
                        <span ng-if="formId == 3015">
                            <!-- If Button set element -->
                            <button class="btn btn-success btn-circle" type="button"
                                    ng-click="clickButton(formId, form.datatabel, record.id, record.tgl_akhir, 'downloadreport')">
                                <i class="fa fa-file-word-o"></i>
                            </button>
                        </span>
                        <span ng-if="formId == 3027">
                            <!-- If Button set element -->
                            <button ng-show="record.laporan_hasil" class="btn btn-success btn-circle" type="button"
                                    ng-click="clickButton(formId, form.datatabel, record.laporan_hasil, null, 'downloadhasil')">
                                <i class="fa fa-file-word-o"></i>
                            </button>
                        </span>
                </td>
            </tr>
            </tbody>
        </table>
    </md-data-table-container>

    <md-data-table-pagination md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.gridData.total_items}}"
                              md-trigger="vm.getData"></md-data-table-pagination>
</div>
<!-- .Tabel Grid -->


<!-- Tabel Statik -->
<md-card flex="100" class="card-element" ng-if="form.ftype=='tabel-statik'">
    <md-card-content>
        <h2 class="canvas-title">{{form.fName}}</h2>

        <!-- Action Buttons inside canvas -->
        <div layout="row" layout-align="end center" class="action-canvas flex-100">
            <div ng-if="fieldIndex === 0" ng-repeat="(fieldIndex, field) in form.fields" layout="row"
                 layout-align="middle end" flex>
                <div ng-repeat="(dataIndex, data) in field.field | filter:{type:'button-action'}" layout="column" flex>
                    <div layout="column" layout-align="center" flex
                         ng-include="'app/form-module/element_table.html'"></div>
                </div>
            </div>
        </div>
        <!-- .Action Buttons inside canvas -->

        <table class="dynamic-form-table">
            <tr ng-if="index==0" ng-repeat="(index, field) in form.fields | orderBy:'no_urut':false">
                <th ng-repeat="header in field.field | filter:{type:'!button-action'}"
                    ng-if="header.type !== 'button-set'" style="padding-right:5px;">
                    {{header.label}}
                </th>
                <th ng-if="form.has_button_set" style="padding-right:5px;">Aksi</th>
            </tr>
            <tr ng-repeat="record in form.fields | filter:{del:false}| orderBy:'no_urut':false">
                <td ng-repeat="data in record.field | filter:{type:'!button-action'}" ng-init="data_val = data.data"
                    ng-if="header.type !== 'button-set'"
                    style="padding-right:5px;">
                    <div ng-include="'app/form-module/element_table.html'"></div>
                </td>
                <td ng-if="form.has_button_set" style="padding-right:5px;">
                    <span ng-repeat="data in record.field | filter:{type:'button-set'}">
                        <!-- If Button set element -->
                        <button class="btn btn-success btn-circle" type="button"
                                ng-click="clickButton(formId, form.datatabel, record.id, data.tombol_tautan, data.tombol_aksi)">
                            <i class="fa fa-pencil" ng-if="data.tombol_aksi == 'edit'"></i>
                            <i class="fa fa-eye" ng-if="data.tombol_aksi == 'view'"></i>
                            <i class="fa fa-file-word-o" ng-if="data.tombol_aksi == 'report'"></i>
                            <i class="fa fa-trash" ng-if="data.tombol_aksi == 'delete'"></i>
                        </button>
                    </span>
                </td>
            </tr>
        </table>
    </md-card-content>
</md-card>
<!-- .Tabel Statik -->


<md-data-table-toolbar class="md-data-table-toolbar" ng-if="form.ftype == 'filter'">
    <div ng-repeat="(fieldIndex, field) in form.fields | filter:{del:false}"
         class="layout-margin layout-xs-column layout-row"
         layout-margin="" layout-xs="column" layout="row">
        <div layout="column" flex ng-repeat="(dataIndex, data) in field.field | filter:{del:false}">
            <div ng-include="'app/form-module/element.html'"></div>
        </div>
    </div>
</md-data-table-toolbar>

<!-- Map -->
<md-card flex="100" class="card-element" ng-if="form.ftype=='maps'">
    <leaflet lf-center="center" layers="layers" height="300px" width="100%" event-broadcast="events" markers="markers"></leaflet>
</md-card>
