<!-- Text Input -->
<md-input-container ng-if="data.type=='text'" class="md-block">
    <label>{{data.label}}</label>
    <input ng-if="form.ftype !== 'filter'" type="{{ data.type }}" name="{{data.id}}" data-ng-model="data.data"
           ng-required="{{data.required}}"
           ng-disabled="(data.disabled && limitAccess) || isReadOnly"/>
    <input ng-if="form.ftype === 'filter'" type="{{ data.type }}" name="{{data.id}}"
           ng-model="vm.query[data.variable_name]"
           ng-required="{{data.required}}" ng-disabled="(data.disabled && limitAccess) || isReadOnly"/>
    <div ng-messages="mainForm['{{data.id}}'].$error">
        <div ng-messages-include="app/include/validation-messages.html"></div>
    </div>
</md-input-container>

<!-- EMAIL data -->
<md-input-container ng-if="data.type=='email'" class="md-block">
    <label>{{data.label}}</label>
    <input type="{{ data.type }}" name="{{data.id}}" data-ng-model="data.data" ng-required="{{data.required}}"
           ng-disabled="(data.disabled && limitAccess) || isReadOnly"
    />
    <div ng-messages="mainForm['{{data.id}}'].$error">
        <div ng-messages-include="app/include/validation-messages.html"></div>
    </div>
</md-input-container>

<!-- Date -->
<md-input-container class="md-block">
    <div ng-if="data.type === 'date'">
        <label ng-if="data.type=='date'">{{data.label}}</label>
        <md-datepicker ng-if="data.type === 'date' && form.ftype !== 'filter'" data-ng-model="data.data"
                       name="{{data.id}}" md-placeholder="Enter date"
                       ng-required="{{data.required}}" ng-disabled="(data.disabled && limitAccess) || isReadOnly"></md-datepicker>
        <md-datepicker ng-if="data.type === 'date' && form.ftype === 'filter'" ng-model="vm.query[data.variable_name]"
                       name="{{data.id}}"
                       md-placeholder="Enter date" ng-required="{{data.required}}"
                       ng-disabled="(data.disabled && limitAccess) || isReadOnly"></md-datepicker>
        <div ng-messages="mainForm['{{data.id}}'].$error">
            <div ng-messages-include="app/include/validation-messages.html"></div>
        </div>
    </div>
</md-input-container>

<!-- Checkbox -->
<md-input-container ng-if="data.type=='checkbox'" class="md-block">
    <md-checkbox class="md-primary" ng-model="data.data" name="{{data.id}}" aria-label="{{data.label}}"
                 ng-true-value="1" ng-false-value="0"
                 ng-disabled="(data.disabled && limitAccess) || isReadOnly" ng-required="{{data.required}}">
        {{data.label}}
    </md-checkbox>
    <div ng-messages="mainForm['{{data.id}}'].$error">
        <div ng-messages-include="app/include/validation-messages.html"></div>
    </div>
</md-input-container>

<!-- PASSWORD data -->
<md-input-container ng-if="data.type=='password'" class="md-block">
    <label>{{data.label}}</label>
    <input type="{{ data.type }}" name="{{data.id}}" data-ng-model="data.data" ng-minlength="6" ng-maxlength="12"
           ng-required="{{data.required}}"
           ng-disabled="(data.disabled && limitAccess) || isReadOnly"/>
    <div ng-messages="mainForm['{{data.id}}'].$error">
        <div ng-messages-include="app/include/validation-messages.html"></div>
    </div>
</md-input-container>

<!-- Select -->
<md-input-container ng-if="data.type == 'select' || data.type == 'select-ws'" class="md-block">
    <label>{{data.label}}</label>
    <md-select name="{{data.id}}" id="repeatSelect" ng-model="data.data" placeholder="{{data.label}}"
               ng-required="{{data.required}}"
               ng-disabled="(data.disabled && limitAccess) || isReadOnly">
        <md-optgroup label="{{data.label}}">
            <md-option ng-repeat="option in data.options" value="{{option.id}}">{{option.name}}</md-option>
        </md-optgroup>
    </md-select>
    <div ng-messages="mainForm['{{data.id}}'].$error">
        <div ng-messages-include="app/include/validation-messages.html"></div>
    </div>
</md-input-container>

<!-- Number -->
<md-input-container ng-if="data.type=='number'" class="md-block">
    <label>{{data.label}}</label>
    <input type="{{ data.type }}" name="{{data.id}}" ng-model="data.data" min="0" ng-required="{{data.required}}"
           ng-disabled="(data.disabled && limitAccess) || isReadOnly">
    <div ng-messages="mainForm['{{data.id}}'].$error">
        <div ng-messages-include="app/include/validation-messages.html"></div>
    </div>
</md-input-container>

<md-input-container ng-if="data.type=='button'" class="md-block">
    <div class="col-sm-6">
        <md-button ng-click="delElm(data)" class="btn btn-danger pull-right">X</md-button>
    </div>
</md-input-container>

<!-- Autocomplete -->
<md-input-container ng-if="data.type=='autocomplete-datatabel'" md-no-float class="md-block">
    <label>{{data.label}}</label>
    <md-autocomplete class="margin-bottom-20" name="{{data.id}}" ng-disabled="(data.disabled && limitAccess) || isReadOnly"
                     ng-required="{{data.required}}"
                     md-no-cache="noCache" md-selected-item="selectedItem" md-search-text="searchText"
                     md-selected-item-change="selectedItemChange(item)"
                     md-items="item in querySearch(vm.searchText)" md-item-text="item.nama_datatabel" md-min-length="0"
                     placeholder="Cari Datatabel">
        <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.nama_datatabel}}</span>
        <div ng-messages="mainForm['{{data.id}}'].$error">
            <div ng-messages-include="app/include/validation-messages.html"></div>
        </div>
    </md-autocomplete>
</md-input-container>

<!-- Combogrid -->
<div ng-if="data.type=='autocomplete'">
    <md-input-container md-no-float class="md-block">
        <label>{{data.label}}</label>
        <input type="text" ng-if="data.type=='autocomplete'" my-combogrid cg-label-model="data.data_label"
               cg-model="data.data" cg-url="{{data.cg_url}}"
               cg-fields="{{data.cg_fields}}" cg-value-col="{{data.cg_value_col}}" cg-label-col={{data.cg_label_col}}
               ng-init="dataLabel=data.data_label"
               value="{{dataLabel}}" ng-disabled="(data.disabled && limitAccess) || isReadOnly"/>
    </md-input-container>
    <input ng-if="data.type=='autocomplete'" type="hidden" name="{{data.id}}_value" data-ng-model="data.data"
           ng-required="{{data.required}}"
    />
    <input ng-if="data.type=='autocomplete'" type="hidden" name="{{data.id}}_label" data-ng-model="data.data_label"
           ng-required="{{data.required}}"
    />
    <div ng-messages="mainForm['{{data.id}}' + '_label'].$error">
        <div ng-messages-include="app/include/validation-messages.html"></div>
    </div>
</div>

<!-- Tipe Label-->
<md-input-container ng-if="data.type=='label'" class="md-block">
    <input type="text" name="{{data.id}}" data-ng-model="data.data" ng-disabled="true" placeholder="{{data.label}}"/>
</md-input-container>

<!-- Formatted Number -->
<md-input-container ng-if="data.type=='numbering'" class="md-block">
    <label>{{data.label}}</label>
    <input type="text" name="{{data.id}}" data-ng-model="data.data" ng-required="{{data.required}}" ng-disabled="true"/>
    <div ng-messages="mainForm['{{data.id}}'].$error">
        <div ng-messages-include="app/include/validation-messages.html"></div>
    </div>
</md-input-container>

<!-- Button Action -->
<md-button ng-if="data.type=='button-action' && data.tombol_aksi=='add'"
           class="md-fab md-primary md-fab-top-right md-button md-cyan-theme md-ink-ripple"
           ng-click="clickButton(formId, form.datatabel, keyId, data.tombol_tautan, data.tombol_aksi)"
           aria-label="bottom right toast" ng-hide="vm.isIndexEtpdExistInCurrentPeriode">
    <md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
    <md-tooltip>{{data.label ? data.label : 'Tambah'}}</md-tooltip>
</md-button>
<md-button ng-if="data.type=='button-action' && data.tombol_aksi=='save'" class="md-primary md-raised"
           ng-disabled="mainForm.$invalid"
           ng-click="clickButton(formId, form.datatabel, keyId, data.tombol_tautan, data.tombol_aksi, data.id)">
    {{data.label ? data.label : 'Simpan'}}
</md-button>
<md-button ng-if="data.type=='button-action' && data.tombol_aksi=='cancel'"
           ng-click="clickButton(formId, form.datatabel, keyId, data.tombol_tautan, data.tombol_aksi)">
    {{data.label ? data.label : 'Batal'}}
</md-button>

<!-- Upload File -->
<div layout="row" ng-if="data.type=='file'" layout-align="space-around center">
    <div layout="column" flex="80">
        <md-input-container md-no-float class="md-block">
            <label>{{data.label}}</label>
            <input type="text" placeholder="" name="{{data.id}}" ng-model="data.data" ng-required="{{data.required}}"
                   ng-readonly="true">
            <div ng-if="data.data.length > 0 && !isViewable(data.data)" ng-click="downloadFile(data.data)" class="btn-download">Download</div>
            <div ng-if="data.data.length > 0 && isViewable(data.data)" ng-click="viewFile(data.data)" class="btn-download">View</div>
        </md-input-container>
    </div>
    <div layout="column" flex="20" ng-if="data.editable===true">
        <md-button class="md-primary md-raised md-fab" ngf-select="uploadFile($files, data)"
                   ng-disabled="data.upload_status != 'idle'"
                   ngf-multiple="true" ngf-max-size="20MB" aria-label="upload">
            <md-icon md-font-icon
                     ng-class="{ 'zmdi zmdi-cloud-upload': data.upload_status == 'idle', 'fa fa-spinner fa-pulse': data.upload_status == 'uploading', 'zmdi zmdi-check': data.upload_status == 'complete'}"></md-icon>
        </md-button>
    </div>
</div>

<!-- Photo File -->
<div ng-if="data.type === 'photo'" layout-align="space-around center">
    <div>
        <md-input-container md-no-float class="md-block">
            <label>{{data.label}}</label>
        </md-input-container>
        <br>
    </div>
    <div ng-if="data.data === null || data.data.length === 0">
        <img src="assets/images/no-image.120x160.png" class="thumb-photo">
    </div>
    <div ng-if="data.data !== null && data.data.length > 0">
        <img ng-src="{{data.file_url}}" class="thumb-photo">
    </div>
    <div>
        <md-button class="md-primary md-raised md-fab" ngf-select="uploadFile($files, data)"
                   ng-disabled="data.upload_status != 'idle'"
                   ngf-multiple="true" aria-label="upload">
            <md-icon md-font-icon
                     ng-class="{ 'zmdi zmdi-cloud-upload': data.upload_status == 'idle', 'fa fa-spinner fa-pulse': data.upload_status == 'uploading', 'zmdi zmdi-check': data.upload_status == 'complete'}"></md-icon>
        </md-button>
    </div>
</div>

<!-- Input Textarea -->
<md-input-container ng-if="data.type === 'textarea'" flex class="md-block">
    <label>{{data.label}}</label>
    <text-angular name="{{data.id}}" data-ng-model="data.data" ng-required="data.required && validateForm"
                  ta-target-toolbars="editor-toolbar">
    </text-angular>
</md-input-container>

<!-- Input EDITOR -->
<md-input-container ng-if="data.type === 'editor'" flex class="md-block">
    <span>{{data.label}}</span>
    <text-angular ng-change="minWords(data.id)" name="{{data.id}}" data-ng-model="data.data" ng-required="data.required && validateForm"
                  ta-toolbar="[['bold','italics','underline','strikeThrough','ul','ol','redo','undo','clear'],['justifyLeft','justifyCenter','justifyRight','indent','outdent'],['html','embedImage','insertImage','embedVideo','insertVideo','insertLink','wordcount','charcount']]">
    </text-angular>
    <span style="color: red;" ng-if="editorError && data.id != 43750">{{editorErrorMsg}}</span>
</md-input-container>

<!-- QR Code -->
<div ng-if="data.type === 'qrcode'" layout-align="space-around center">
    <div>
        <md-input-container md-no-float class="md-block">
            <label>{{data.label}}</label>
        </md-input-container>
        <br>
    </div>
    <div ng-if="data.data === null || data.data.length === 0">
        <img src="assets/images/no-image.120x160.png" class="thumb-photo">
    </div>
    <div ng-if="data.data !== null && data.data.length > 0">
        <img ng-src="{{data.data}}" height="100">
    </div>
</div>

<!-- Barcode -->
<div ng-if="data.type === 'barcode'" layout-align="space-around center">
    <div>
        <md-input-container md-no-float class="md-block">
            <label>{{data.label}}</label>
        </md-input-container>
        <br>
    </div>
    <div ng-if="data.data === null || data.data.length === 0">
        <img src="assets/images/no-image.120x160.png" class="thumb-photo">
    </div>
    <div ng-if="data.data !== null && data.data.length > 0">
        <img ng-src="data:image/png;base64,{{data.data}}">
    </div>
</div>

<!-- Hyperlink -->
<md-input-container ng-if="data.type === 'hyperlink'" class="md-block">
    <a href="javascript:void(0);" name="{{data.id}}" ng-click="vm.openLink(data.tautan, null, data.id, true)">{{data.data}}</a>
</md-input-container>