<md-content class="padded-content-page">

    <div layout="row" flex layout-align="center center" class="form-title">
        <h2 class="md-display-1">{{nama_form}}</h2>
    </div>

    <!-- Action Button Area -->
    <div layout="row" flex layout-align="end center" 
        ng-repeat="(formIndex, form) in forms | filter: {ftype: 'action', tabIdx: -1, del: false}">
        <div ng-include="'app/form-module/canvas.html'"></div>
    </div>

    <!-- Filters -->
    <form flex="" name="vm.filter.form">
        <md-data-table-toolbar class="md-data-table-toolbar" ng-if="has_tabel_grid">
            <md-icon md-font-icon="zmdi zmdi-search"></md-icon>
            <input id="filter-text" type="text" ng-model="vm.query.filter" ng-model-options="vm.filter.options" placeholder="Cari">
        </md-data-table-toolbar>

        <md-data-table-toolbar class="md-data-table-toolbar" ng-if="has_filter">
            <div ng-repeat="form in forms | filter : {ftype:'filter'} | orderBy:'no_urut':false">
                <div ng-include="'app/form-module/canvas.html'"></div>
            </div>
        </md-data-table-toolbar>
    </form>
    <!-- .Filters -->

    <form name="mainForm" novalidate>
        <div ng-repeat="form in forms | filter : {tabIdx:'0', ftype: '!filter'} | orderBy:'no_urut':false">
            <div ng-include="'app/form-module/canvas.html'"></div>
        </div>

        <div ng-repeat="tabDisplay in forms | filter:{ftype:DYNAMIC.typeTab}">
            <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">
                <md-tab ng-repeat="tab in tabDisplay.ftab" label="{{tab.label}}">
                    <md-content class="md-padding" ng-if="form.ftype!=DYNAMIC.typeTab" 
                        ng-repeat="form in forms | filter : {tabIdx: tab.idx, del: false} | orderBy:'no_urut':false">
                        <div ng-include="'app/form-module/canvas.html'"></div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </div>
    </form>

</md-content>