<md-dialog aria-label="Pilih Pelanggan" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Tambah Option</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-font-icon="zmdi zmdi-close" aria-label="Tutup dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container md-no-float class="md-block">
                    <label>Value</label>
                    <input type="text" name="Value" placeholder="Value" ng-model="option.value" ng-required="true">
                </md-input-container>
                <md-input-container md-no-float class="md-block">
                    <label>Label</label>
                    <input type="text" name="Label" placeholder="Label" ng-model="option.label" ng-required="true">
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="hide()">
                Simpan
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>