<md-content class="padded-content-page">
    <h2 translate>PENGUMUMAN.ADD</h2>

    <form name="mainForm" novalidate>
        <div layout="row" layout-align="end center">
            <md-button class="md-primary md-raised" ng-disabled="mainForm.$invalid" ng-click="vm.createAction()">Buat</md-button>
            <md-button class="md-raised" ng-click="vm.cancelAction()">Batal</md-button>
        </div>

        <md-input-container md-no-float class="md-block">
            <label>Judul</label>
            <input type="text" name="judul" placeholder="Judul" ng-required="true" ng-model="vm.pesan.judul" md-maxlength="100">
            <div ng-messages="mainForm.judul.$error">
                <div ng-messages-include="app/include/validation-messages.html"></div>
            </div>
        </md-input-container>

        <md-input-container md-no-float class="md-block">
            <label>Pesan</label>
            <text-angular name="pesan" data-ng-model="vm.pesan.pesan" ng-required="false" md-maxlength="10000" ta-target-toolbars="editor-toolbar">
            </text-angular>
            <div ng-messages="mainForm.pesan.$error">
                <div ng-messages-include="app/include/validation-messages.html"></div>
            </div>
        </md-input-container>

        <div layout="row" layout-align="space-around center">
            <div layout="column" flex="80">
                <md-input-container md-no-float class="md-block">
                    <label>File Lampiran (*.jpg, *.png, *.docx, *.pdf)</label>
                    <input type="text" placeholder="" ng-required="true" ng-model="vm.pesan.file_lampiran" ng-readonly="true">
                    <div ng-if="vm.pesan.file_lampiran.length > 0" ng-click="vm.downloadFile(vm.pesan.url_lampiran)" class="btn-download">Download</div>
                </md-input-container>
            </div>
            <div layout="column" flex="20">
                <md-button class="md-primary md-raised md-fab" ngf-select="vm.upload($files)"
                           ng-disabled="vm.upload_status != 'idle'" ngf-multiple="true" aria-label="upload">
                    <md-icon md-font-icon
                             ng-class="{ 'zmdi zmdi-cloud-upload': vm.upload_status == 'idle', 'fa fa-spinner fa-pulse': vm.upload_status == 'uploading', 'zmdi zmdi-check': vm.upload_status == 'complete'}"></md-icon>
                </md-button>
            </div>
        </div>

        <div layout="row" layout-align="end center">
            <md-button class="md-primary md-raised" ng-disabled="mainForm.$invalid" ng-click="vm.createAction()">Buat</md-button>
            <md-button class="md-raised" ng-click="vm.cancelAction()">Batal</md-button>
        </div>
    </form>
</md-content>
