<md-content class="padded-content-page">
    <h2>Kalender</h2>

    <form name="mainForm" novalidate>
        <div layout="row" layout-align="end center">
            <md-button class="md-raised" ng-click="vm.cancelAction()">Batal</md-button>
        </div>

        <md-input-container md-no-float class="md-block">
            <label>Nama Instansi</label>
            <input type="text" placeholder="Nama Instansi" ng-disabled="true" ng-model="vm.instansi.nama">
        </md-input-container>

        <!-- BEGIN - Tabs -->
        <md-tabs class="md-primary" md-selected="selectedTabIndex" md-dynamic-height md-border-bottom md-stretch-tabs="always">

            <!-- BEGIN - Hari Off -->
            <md-tab label="Hari Off">
                <md-content class="md-padding">
                    <table class="md-table">
                        <thead>
                        <th width="10%">No</th>
                        <th width="80">Hari</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="(index, kalender) in vm.kalender_hari">
                            <td>{{index + 1}}</td>
                            <td>
                                <md-input-container>
                                    <md-select name="tipe" ng-model="kalender.idx_hari" ng-disabled="true">
                                        <md-option ng-value="kodeHari" ng-repeat="(kodeHari, hari) in vm.optionHari">{{
                                            hari }}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </md-content>
            </md-tab>
            <!-- END - Hari Off -->

            <!-- BEGIN - Tanggal Libur -->
            <md-tab label="Tanggal Libur">
                <md-content class="md-padding">
                    <table class="md-table">
                        <thead>
                        <th width="10%">No</th>
                        <th width="80">Tanggal</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="(index, kalender) in vm.kalender_tanggal">
                            <td>{{index + 1}}</td>
                            <td>
                                <md-datepicker name="kalender_tanggal_{{index}}" data-ng-model="kalender.tanggal" ng-required="true" ng-disabled="true"></md-datepicker>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </md-content>
            </md-tab>
            <!-- END - Tanggal Libur -->

        </md-tabs>

        <div layout="row" layout-align="end center">
            </md-button>
            <md-button class="md-raised" ng-click="vm.cancelAction()">Batal</md-button>
        </div>
    </form>
</md-content>
