<md-content class="padded-content-page">
    <h2 translate>FAQ-CATEGORY.ADD</h2>

    <form name="mainForm" novalidate>
        <div layout="row" layout-align="end center">
            <md-button class="md-primary md-raised" ng-disabled="mainForm.$invalid" ng-click="vm.createAction()">Buat</md-button>
            <md-button class="md-raised" ng-click="vm.cancelAction()">Batal</md-button>
        </div>

        <md-input-container md-no-float class="md-block">
            <label>Nama</label>
            <input type="text" name="nama" placeholder="Nama" ng-required="true" ng-model="vm.faq_category.nama" md-maxlength="50">
            <div ng-messages="mainForm.nama.$error">
                <div ng-messages-include="app/include/validation-messages.html"></div>
            </div>
        </md-input-container>

        <md-input-container md-no-float class="md-block">
            <label>Deskripsi</label>
            <textarea name="deskripsi" ng-model="vm.faq_category.deskripsi" rows="5" cols="100" maxlength="500"></textarea>
            <div ng-messages="mainForm.deskripsi.$error">
                <div ng-messages-include="app/include/validation-messages.html"></div>
            </div>
        </md-input-container>

        <md-input-container md-no-float class="md-block">
            <label>No Urut</label>
            <input type="number" name="no_urut" placeholder="No Urut" ng-required="false"
                ng-model="vm.faq_category.no_urut" min="0">
            <div ng-messages="mainForm.no_urut.$error">
                <div ng-messages-include="app/include/validation-messages.html"></div>
            </div>
        </md-input-container>

        <md-switch ng-model="vm.faq_category.is_active" aria-label="Aktif">
            Aktif
        </md-switch>

        <div layout="row" layout-align="end center">
            <md-button class="md-primary md-raised" ng-disabled="mainForm.$invalid" ng-click="vm.createAction()">Buat</md-button>
            <md-button class="md-raised" ng-click="vm.cancelAction()">Batal</md-button>
        </div>
    </form>
</md-content>
