<md-dialog aria-label="Aksi Form Pegawai" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Form Aksi Pegawai</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-font-icon="zmdi zmdi-close" aria-label="Tutup dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-list>
                    <md-list-item ng-repeat="(index, aksi) in aksiPegawai">
                        <span>
                            <a ng-click="openForm(aksi.form_id)">{{index+1}}. {{aksi.label}}</a>
                        </span>
                    </md-list-item>
                </md-list>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>