<md-content class="padded-content-page">
    <h2>
        <a href="javascript:void(0);" name="faq-home"
            ng-click="vm.openLink('faq-search-all', null, null, false)">
            Search FAQ 
        </a>
    </h2>

    <div>&nbsp;</div>

    <md-input-container md-no-float class="md-block">
        <label>Pertanyaan</label>
        <input type="text" placeholder="Pertanyaan" ng-required="true" ng-model="vm.faq.pertanyaan" ng-disabled="true">
    </md-input-container>

    <md-input-container md-no-float class="md-block">
        <label>Jawaban</label>
        <textarea name="jawaban" ng-model="vm.faq.jawaban" rows="5" cols="500" ng-disabled="true"></textarea>
    </md-input-container>

    <md-input-container md-no-float class="md-block">
        <div>
            File Lampiran: {{vm.faq.file_lampiran}}
        </div>
        <div ng-if="vm.faq.file_lampiran.length > 0" ng-click="vm.downloadFile(vm.faq.url_lampiran)" class="btn-download">Download</div>
    </md-input-container>

</md-content>
