<md-content class="padded-content-page">
    <div layout="row" layout-align="left center">
        <h2>
            <a href="javascript:void(0);" name="{{item.id}}"
                ng-click="vm.openLink('faq', null, null, false)">
                FAQ 
            </a>
        </h2>
    </div>

    <div>
        <md-data-table-toolbar class="md-data-table-toolbar">
            <md-icon md-font-icon="zmdi zmdi-search"></md-icon>
            <form flex="" name="vm.filter.form">
                <input id="filter-text" type="text" ng-model="vm.query.filter" ng-model-options="vm.filter.options" placeholder="Cari">
            </form>
        </md-data-table-toolbar>

        <md-data-table-container>
            <table md-data-table class="md-primary md-data-table" md-progress="vm.deferred">
                <thead md-order="vm.query.order" md-trigger="vm.getData">
                    <tr>
                        <th order-by="no" name="#"></th>
                        <th name="Category"></th>
                        <th name="Pertanyaan"></th>
                        <th name=""></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in vm.data.items">
                        <td>{{item.no}}</td>
                        <td>{{item.faq_category.nama}}</td>
                        <td>{{item.pertanyaan}}</td>
                        <td>
                            <button class="btn btn-info btn-circle" type="button" ng-click="vm.showFormView(item.id)">
                                <i class="fa fa-eye"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-data-table-container>

        <md-data-table-pagination md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.data.total_items}}" md-trigger="vm.getData"></md-data-table-pagination>
    </div>
</md-content>
