<md-dialog flex="60" flex-xs="100">
    <md-toolbar class="toolbar-default">
        <div class="md-toolbar-tools">
            <h2 flex translate>{{detail.nama}}</h2>
            <md-button class="md-icon-button" ng-click="hide()"
                       aria-label="cancel">
                <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content class="md-dialog-content">
        <div layout="column" layout-padding>
            <div flex layout="row" layout-align="center center">
                <md-card>
                    <md-card-content layout="column">
                        <span>Alamat          :  {{detail.alamat}}</span>
                        <span>Bidang usaha    :  {{detail.jenis_usaha}}</span>
                    </md-card-content>
                </md-card>
                <md-card>
                    <div id="chart-saham" google-chart chart="saham"></div>
                </md-card>

            </div>
            <md-card flex layout="column" layout-align="center center">
                <div id="chart-performa" google-chart chart="performa"></div>
            </md-card>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="viewDetail(detail)" class="md-primary"
                   aria-label="Detail" translate="Detail"></md-button>
    </md-dialog-actions>
</md-dialog>
