<md-content class="padded-content-page">
    <h2 translate>PENOMORAN.VIEW</h2>

    <div layout="row" layout-align="end center">
        <md-button class="md-raised" ng-click="vm.cancelAction()">Batal</md-button>
    </div>

    <input type="hidden" ng-model="vm.desa.id">
    <md-input-container md-no-float class="md-block">
        <label>Deskripsi</label>
        <input type="text" placeholder="" ng-required="true" ng-model="vm.penomoran.deskripsi" ng-disabled="true">
    </md-input-container>

    <md-input-container md-no-float class="md-block">
        <label>Format</label>
        <input type="text" placeholder="" ng-required="true" ng-model="vm.penomoran.format" ng-disabled="true">
    </md-input-container>

    <md-input-container md-no-float class="md-block">
        <label>No Terakhir</label>
        <input type="text" placeholder="" ng-required="true" ng-model="vm.penomoran.no_terakhir" ng-disabled="true">
    </md-input-container>

    <md-input-container md-no-float class="md-block">
        <label>Instansi</label>
        <input type="text" placeholder="" ng-required="true" ng-model="vm.penomoran.instansi.nama" ng-disabled="true">
    </md-input-container>

    <!-- BEGIN - Tabs -->
    <md-tabs class="md-primary" md-selected="selectedTabIndex" md-dynamic-height md-border-bottom md-stretch-tabs="always">
        <md-tab label="Unit Kerja">
            <md-content class="md-padding">
                <md-list class="no-scroll">
                    <md-list-item layout="row" layout-align="space-around center" ng-repeat="(index, detail) in vm.penomoran.penomoran_detail">
                        <input type="hidden" value="{{unit.id}}" ng-model="detail.id">
                        <md-input-container md-no-float flex class="md-block">
                            <input type="text" placeholder="Unit Kerja" ng-required="true" ng-model="detail.unit.nama" ng-disabled="true">
                        </md-input-container>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-tab>
    </md-tabs>
    <!-- END - Tabs -->

    <div layout="row" layout-align="end center">
        <md-button class="md-raised" ng-click="vm.cancelAction()">Batal</md-button>
    </div>
</md-content>
